@charset "utf-8";

// Images
img {
  max-width: 100%;
  display: block;
  margin: 0.75rem auto;
}

table {
  th {
    background-color: $white-ter;
  }
}

// Icons
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  list-style: none;
  margin-left: 0;

  li + li {
    padding-top: 5px;
  }
}


// sidenav
.cl-nav {
  background-color: $white;
  margin-right: 12px;

  .menu {
    width: 240px;
  }
  .ad-area {
    width: 240px;
    height: 240px;
    background-color: antiquewhite;
  }
}

// aside
.cl-aside {
  background-color: $white;
  margin-left: 12px;

  .ad-area {
    width: 160px;
    height: 600px;
    background-color: antiquewhite;
  }

  .aside-section {
    width: 160px;
  }
}


@import "bukyll/layout";
@import "bukyll/syntax_monokai";
