@charset "utf-8";

// Content
.content img {
  max-width: 100%;
  display: block;
  margin: 0.8rem auto;
}

.content table {
  thead tr th, tbody tr td {
    border: 1px solid $grey-lighter;
  }

  tbody tr:last-child td {
    border-bottom-width: 1px;
  }

  th {
    background-color: $white-ter;
  }
}


// Icons
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 0;
  vertical-align: middle;
}

.social-media-list {
  list-style: none;
  margin-left: 0;

  li + li {
    padding-top: 5px;
  }
}

img.emoji {
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
}


// Footer
.footer {
  padding-bottom: 0.5rem;
}

// sidenav
.cl-nav {
  background-color: $white;
  margin-right: 1em;

  .menu, .toc {
    width: 240px;

    li {
      font-size: 0.8rem;
    }
  }

  .toc .menu-list {
    ul {
      margin: 0.2em;
    }
  }
  
  .ad-area {
    width: 240px;
    height: 240px;
    background-color: antiquewhite;
  }
}

// aside
.cl-aside {
  background-color: $white;
  margin-left: 1em;

  .ad-area {
    width: 160px;
    height: 600px;
    background-color: antiquewhite;
  }

  .aside-section {
    width: 160px;
  }
}

// Outlink
.outlink {
  background-color: rgba($color: #e4e4e4, $alpha: 0.1);
  border: 2px solid rgba($color: #b4b4b4, $alpha: 0.4);
  padding: 0.2rem;
  margin-bottom: 1rem;
  overflow: hidden;

  img.thumbnail {
    max-width: 100px;
    border: 1px solid rgba($color: #868686, $alpha: 0.5);
    margin: 5px;
    margin-right: 10px;
    float: left;
  }

  a {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    img.thumbnail {
      max-width: 50px;
    }

    p {
      clear: both;
    }
  }
}

@import "codelol/layout";
@import "codelol/syntax_monokai";
