{%- if items.size > 0 -%}
<div class="columns is-multiline is-centered">
  {%- for post in items -%}
    <div class="column is-one-third">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <!-- Mobile Only -->
      <div class="card is-hidden-tablet">
          <div class="card-content">
            <div class="media">
              {%- if post.image -%}
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{{ post.image }}" alt="{{ post.title }}">
                </figure>
              </div>
              {%- endif -%}
              <div class="media-content">
                <time class="is-size-7">{{ post.date | date: date_format }}</time>
                <a href="{{ post.url | relative_url }}"><p class="title is-size-6">{{ post.title | escape }}</p></a>
              </div>
            </div>
          </div>
      </div>

      <!-- Tablet & Laptop -->
      <div class="card is-hidden-mobile">
      {%- if post.image -%}
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="{{ post.url | relative_url }}"><img src="{{ post.image }}" alt="{{ post.title }}"></a>
          </figure>
        </div>
      {%- endif -%}
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <time class="is-size-6">{{ post.date | date: date_format }}</time>
              <a href="{{ post.url | relative_url }}">
                <p class="title is-size-4">{{ post.title | escape }}</p>
              </a>
            </div>
          </div>
          {%- unless post.image -%}
          <div class="content">
            <p class="is-size-6"><a href="{{ post.url | relative_url }}">{{ post.excerpt | strip_html | truncate: 160 }}</a></p>
          </div>
          {%- endunless -%}
        </div>
      </div>
    </div>

    <!-- AD Area -->
    {%- if page.path contains '_pages' -%}
      {%- if forloop.index == 2 -%}
      <div class="column is-one-third">
        <div class="card ad-area">
          <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/JIX9t2j0ZTN9S" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/JIX9t2j0ZTN9S">via GIPHY</a></p>
          <!-- {{ forloop.index }} -->
        </div>
      </div>
      {%- endif -%}
    {%- endif -%}

  {%- endfor -%}
</div>
{%- endif -%}
