.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  position: relative;

  > * {
    box-shadow: 1px 1px 2px $grey-color-dark;
  }
}

nav.navbar {
  width: 300px;
  margin: 5px;
  padding: 5px;
  background-color: $content-color;

  ul {
    margin-left: 0;
    list-style-type: none;
    scroll-behavior: smooth;
    li {
      padding-left: 10px;
    }
  }

  .ad-area {
    width: 300px;
    height: 250px;
    background-color: coral;
  }

  @include media-query($on-palm) {
    display: none;
  }

  @include media-query($on-laptop) {
    font-size: 0.8rem;
  }
}

.docs {
  margin: 5px;
  padding: 10px 20px;
  min-width: 400px;
  min-height: 50vh;
  background-color: $content-color;

  @include media-query($on-palm) {
    margin: 0;
    min-width: 300px;
  }
}

aside.sidebar {
  position: relative;
  width: 160px;
  margin: 5px;
  padding: 5px;
  background-color: $content-color;
  
  .adarea {
    position: sticky;
    top: 30px;
    
    .ads {
      width: 160px;
      height: 600px;
      margin: 0;
      background-color: chocolate;
    }
  }

  @include media-query($on-palm) {
    display: none;
  }

  @include media-query($on-laptop) {
    display: none;
  }
}

.site-header {
  background-color: $grey-color-dark;
}

.site-footer {
  background-color: $grey-color-light;
}

.text-center {
  text-align: center;
}