/* default */
.cl-content {
  background-color: $white;
}

/* doc & posts */
.post-header {
  border-bottom: 1px solid $grey-lighter;
  margin-bottom: 1rem;
}

/* page */

/* post-grid */
.post-grid {
  .card {
  }
}

/* home */
.page-heading {}
.post-list-heading {}
.post-list {}
.post-link {}
