/* default */
.cl-content {
  background-color: $white;
}

/* doc & posts */
.post-header {
  border-bottom: 1px solid $grey-lighter;
  margin-bottom: 1rem;
}

/* page */

/* grid */
.grid {
  // Mobile
  .card.is-hidden-tablet {
    .card-content {
      padding: 0.6rem;

      .media {
        align-items: center;
      }
    }
  }
  // Tablet & Laptop
  .card.is-hidden-mobile {
    max-width: 360px;
    height: 310px;
    overflow: hidden;
    
    .card-content {
      padding: 0.6rem;
    }
  }

  .card.ad-area {
    text-align: center;
  }
}

/* home */
.page-heading {}
.post-list-heading {}
.post-list {}
.post-link {}
