<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="has-navbar-fixed-top {% if page.path contains '_posts' or page.path contains '_docs' %} has-background-grey-lighter{% else %} has-background-white{% endif %}">
    {%- include header.html -%}
    
    <main class="section container {% if page.path contains '_posts' or page.path contains '_docs' %}is-fullhd{% endif %}" aria-label="Content">
      <section class="columns">
        {%- include sidenav.html -%}
        {{ content }}
        {%- include aside.html -%}
      </section>
    </main>
    {{ page.path }}

    {%- include footer.html -%}
    {%- include scripts.html -%}
  </body>

</html>
