<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="has-navbar-fixed-top has-background-grey-lighter">
    {%- include header.html -%}
    
    <main class="section container is-fullhd" aria-label="Content">
      <section class="columns">
        {%- include sidenav.html -%}
        {{ content }}
        {%- include aside.html -%}
      </section>
    </main>
    <!-- <main class="section " aria-label="Content">
    </main> -->

    {%- include footer.html -%}
    {%- include scripts.html -%}
  </body>

</html>
