---
layout: default
---

<div class="column post-grid">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  {{ content }}

  <!-- Grid Card -->
  {%- if site.posts.size > 0 -%}
  <div class="columns is-multiline is-centered">
    {%- for post in site.posts -%}
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <div class="column is-one-third">
        <div class="card">
          {%- if post.image -%}
            <div class="card-image is-hidden-mobile">
              <figure class="image is-3by1">
                <img src="{{ post.image }}" alt="{{ post.title }}">
              </figure>
            </div>
          {%- endif -%}
          <a href="{{ post.url | relative_url }}">
            <div class="card-content">
              <div class="media">
                {%- if post.image -%}
                <div class="media-left is-hidden-tablet">
                  <figure class="image is-48x48">
                    <img src="{{ post.image }}" alt="{{ post.title }}">
                  </figure>
                </div>
                {%- endif -%}
                <div class="media-content">
                  <p class="title is-size-6">{{ post.title | escape }}</p>
                  <time class="is-size-7">{{ post.date | date: date_format }}</time>
                  <p>{{ post.excerpt | strip_html | truncate: 80 }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {%- if forloop.index == 2 -%}
        <div class="column is-one-third">
          <div class="card">
            {{ forloop.index }}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
  {%- endif -%}
</div>
